@import "tailwindcss";

@layer base {
  :root {
    --font-inter: "Inter", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-space-grotesk: "Space Grotesk", sans-serif;
  }

  * {
    border-color: theme("colors.gray.200");
  }

  body {
    background-color: #000000;
    color: #ffffff;
    font-family: var(--font-inter);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-space-grotesk);
  }
}
